@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'semi-bold';
        src: url('../public/fonts/Outfit/static/Outfit-SemiBold.ttf');
    }

    @font-face {
        font-family: 'medium';
        src: url('../public/fonts/Outfit/static/Outfit-Medium.ttf');
    }

    @font-face {
        font-family: 'regular';
        src: url('../public/fonts/Outfit/static/Outfit-Regular.ttf');
    }
}